$write-color: #fff;
.playerHeaderItem.item .item-inner {
    border-bottom: 0px; 
    //resolve issue about left-bottom side of header will have extra parts, 
    //because we use ion-item, => .item .item-inner have 
    //.item .item-inner {
    //  padding-right: 8px;
    //  border-bottom: 1px solid #dedede;
    //}
    //so we use border-bottom: 0px to solve this issue

    //we use .playerHeaderItem.item .item-inner because we will put this style on ion-item
    //so we want to change .item-inner below the same stage .playerHeaderItem.item  
    //Selects all .item-inner elements inside .playerHeaderItem.item elements
}
.playerDetailicon {
    margin-top: 12px;
    color: $write-color;
}
.playerCenter {
    text-align: center;
}
.playerPortrait {    
    background-color: $write-color;
    display: initial;
}
.playerBasic {
    color: $write-color !important;
}
.PlayereachRank {
    text-align: center;
}
.Playerrank {
    font-weight: bold !important;
    color: gray;
}